
body {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.titleclass{
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 10px #7e7e7e;
    text-align: center;
}
.wordbuttons {
    height: 70px;
    width: 70px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 2px;
    margin-right: 2px;
}
.wordbuttons:disabled{
    box-shadow: none;
}
.wordbuttons:disabled:empty{
    background-color: #363636;
    box-shadow: none;
}
.wordbuttons:disabled:active{
    transform: none;
    box-shadow: none;
}
.bg {
    border: 2px;
    background-color: rgb(250, 250, 250);
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 5px 20px #888888;
    user-select: none;
}
.bg>div{
    white-space: nowrap;
}
.remainingcount{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 10px #7e7e7e;
    text-align: center;
}
.credits{
    font-size: 15px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 10px #7e7e7e;
    text-align: center;
}
a:link {color: #777777;}
a:visited {color: #494949;}
a:hover {color: #acacac;}

.gray{
    background-color: #b6b8b7;
    box-shadow: 0 7px #8d8d8d;
}
.gray:hover{
    background-color: #adadad;
    box-shadow: #888888;
}
.gray:active{
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}
.yellow{
    background-color: #f7cd0f;
    box-shadow: 0 7px #c4a90d;
}
.yellow:hover{
    background-color: #ebc800;
    box-shadow: #ac9200;
}
.yellow:active{
    box-shadow: 0 4px #b89000;
    transform: translateY(3px);
}
.green{
    background-color: #00a108;
    box-shadow: 0 7px #008509;
}
.green:hover{
    background-color: #00990a;
    box-shadow: #1d5721;
}
.green:active{
    box-shadow: 0 4px #00691c;
    transform: translateY(3px);
}
.wordtextinput{
    height: 65px;
    width: 65px;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #888888;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #7e7e7e;
}
.wordtextinput:focus{
    outline-color: rgb(109, 109, 109);
}
.wordtextinput:disabled{
    box-shadow: none;
}
.textgray{
    background-color: #b6b8b7;
}
.textyellow{
    background-color: #f7cd0f;
    border: 2px solid #a78e00;
}
.textgreen{
    background-color: #00a108;
    border: 2px solid #096800;
}

.resetbutton{
    height: 50px;
    display: block;
    padding: 10px 15px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin: 20px auto 0 auto;
    background-color: #ffbb00;
    box-shadow: 0 7px #c4a90d;
}
.resetbutton:hover{
    background-color: #f3b200;
    box-shadow: #967a00;
}
.resetbutton:active{
    box-shadow: 0 4px #b89000;
    transform: translateY(3px);
}
.searchbutton{
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-color: #52c9c3;
    box-shadow: 0 7px #01777796;
}
.searchbutton:hover{
    background-color: #40c5be;
    box-shadow: #01777796;
}
.searchbutton:active{
    box-shadow: 0 4px #01777796;
    transform: translateY(3px);
}